<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles 📰</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <nav>
        <ul>
            <li><a href="auth.html">Connexion</a></li>
            <li><a href="inscription.html">S'inscrire</a></li>
            <li><a href="deco.html">Se déconnecter</a></li>
        </ul>
    </nav>

    <footer>
        <p>Yohann, Liyam, Batyste - © 2024</p>
    </footer>
</body>
</html>
